<div style="background-color:#000;">
  <div class="container">
    <div class="row">
      <% @pages.each do |page| %>
        <%= image_tag page, width: '80%', height: '80%'%>
      <% end %>
    </div>
  </div>
</div>
