<div class="container">
  <div class="row">
    <h1>漫画詳細</h1>
  </div>
  
  <div class="row">
    <div class="col-6">
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
    
    <div class="col-6">
      <table>
        <tr>
          <td>漫画ID</td>
          <td><%= @comic.id %></td>
          
          <td>漫画名</td>
          <td><%= @comic.name %></td>
          
          <td>説明文</td>
          <td><%= @comic.introduction %></td>
        </tr>
    </table>
    </div>
  </div>
</div>