<table>
  <tbody>
    <% comic.comments.each do |comment| %>
    <tr>
      <td><%#= image_tag comment.user.get_profile_image,size: "20x20" %></td>
      <td><%= comment.user.full_name %></td>
      <td><%= comment.content %></td>
      <td>
        <% if comment.user == current_user %>
        <%= link_to "削除", comic_comment_path(comment.comic, comment), method: :delete, class: "btn btn-sm btn-danger p-0 p-1", style: "font-size: 8px;" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>